*{
padding:0;
margin:0;
box-sizing:border-box;
text-decoration:none;
list-style:none;
transition:all .5s;

}
body{

font-family: montserrat;

}

nav{
background:blue;
height:80px;
width:100%;
}

.logo{
color:white;
font-size:35px;
line-height:80px;
padding:0 100px;
font-weight:bold;

}

nav ul{
float:right;
margin-right:20px;

}

nav ul li{
display:inline-block;
line-height:80px;
margin:0 5px;
}
nav ul li a{
color:white;
font-size:17px;
text-transform:uppercase;
padding:7px 13px;
border-radius:3px;
}
a.active,a:hover{
box-shadow:2px 2px 2px rgba(0,0,0,0.3);
color:yellow;
transition:.5s;
}
.checkBtn{
font-size:30px;
color:white;
float:right;
line-height:80px;
margin-right:40px;
cursor:pointer;
}
.check{
display:none;
}

#hero{
height:500px;
width:100%;
background-image:url(images/car.jpg);
}

@media (max-width:952px){

label.logo{
font-size:30px;
padding-left:50px;
}
nav ul li a{
font-size:16px;
}

}

@media (max-width:858px){
.checkBtn{
display:block;

}
ul{
position:fixed;
width:100%;
height:100vh;
line-height:100vh;
background:#5A5A5A;
top:80px;
left:0;
text-align:center;

}
nav ul li{
display:block;

}
nav ul li a{

font-size:20px;

}

a:hover,a.active{
background:none;
color:blue;
box-shadow:2px 2px 1px rgba(0,0,0,0.3);
}




}